SERVER_PORT=8080
APP_BASE_URL=http://localhost:8080
APP_MAIL_ENABLED=false
APP_CLEANUP_TOKENS_CRON=0 0 3 * * *
APP_SECURITY_JWT_SECRET=F7kQ9mZ2pL4sT8vN1xC6bR3yH5uJ0wEa
APP_SECURITY_JWT_ACCESS_TOKEN_EXPIRATION_MINUTES=30
APP_ACCOUNT_BOOTSTRAP_ENABLED=false
APP_ACCOUNT_BOOTSTRAP_FIRST_NAME=Local
APP_ACCOUNT_BOOTSTRAP_LAST_NAME=Admin
APP_ACCOUNT_BOOTSTRAP_USERNAME=adminuser
APP_ACCOUNT_BOOTSTRAP_EMAIL=admin@example.com
APP_ACCOUNT_BOOTSTRAP_PASSWORD=StrongPass@123
APP_ACCOUNT_BOOTSTRAP_ROLE=ROLE_SUPERADMIN

POSTGRES_DB=portfolio
POSTGRES_USER=portfolio_user
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://postgre:5432/portfolio
SPRING_DATASOURCE_USERNAME=portfolio_user
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_FLYWAY_BASELINE_ON_MIGRATE=true

SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=your-email@example.com
SPRING_MAIL_PASSWORD=your-mail-app-password

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=5050
